body {
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    line-height: 1.8;
    font-weight: 400;
}

/* utils */
.primary-color {
    color: rgb(249, 171, 48) !important;
}

.primary-bg {
    background-color: rgb(249, 171, 48) !important;
}

/* navbar */
.navbar {
    transition: all 0.5s;
}
.navbar-brand:hover {
    color: rgb(249, 171, 48);
}
.navbar-brand-scrolled:hover {
    color: #fff !important;
}

a.nav-link {
    font-size: 18px;
}

/* .nav-link:hover {
    color: rgb(249, 171, 48);
}

.nav-link-scrolled:hover {
    color: #fff !important;
} */

.navbar-scrolled {
    background-color: rgb(249, 171, 48) !important;
    box-shadow: 0 3px 10px rgba(249, 171, 48, 0.3);
}


/* home carousel */
.carousel {
    padding-right: 0;
    padding-left: 0;
}

.carousel-item img {
    width: 100%;
    height: 60vh;
    object-fit: cover;
}


/* choose us section */
.features i {
    font-size: 42px;
    color: rgb(249, 171, 48);
}

.features img {
    height: 320px;
    object-fit: cover;
}

/* destinations */

.section-title button {
    background-color: rgba(249, 171, 48, 0.1) !important;
}

.single-deal {
    border: 1px solid #ebe6de;
    border-radius: 6px;
}

.tr-price {
    font-size: 15px;
    font-weight: 600;
    float: right;
    position: relative;
    top: -90px;
    right: -17px;
    color: #fff;
    background-color: rgb(249, 171, 48);
}

.tr-price::before {
    content: '';
    left: -19px;
    top: 0px;
    position: absolute;
    border-top: 19px solid transparent;
    border-right: 19px solid rgb(249, 171, 48);
    border-bottom: 21px solid transparent;
}

/* services */
.services {
    background-color: #F4F9FF;
}

.services i {
    font-size: 42px;
    color: #6e7434;
}

.service {
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 5px;
}

.service i {
    font-size: 42px;
    color: rgb(249, 171, 48);
}


.tour-rating .rating_count {
    float: right;
    color: #727272;
}

/* gallery */
.single-gallery h5 {

    font-weight: 600;
    float: inherit;
    position: relative;
    top: -50px;
    color: #fff;
}


/* packages */
.tour-text {
    position: relative;
    bottom: 100px;
    color: #fff;
    background-color: rgba(249, 171, 48, 0.1);
}

.pack-price {
    font-weight: 900;
}


/* contact us */

.contact-us {
    background-color: #F4F9FF;
}

.contact-form {
    background-color: #fff;
    border-radius: 4px 0px 0px 4px;
    padding: 55px 30px 55px 55px;
    height: 100%;
}

.form-control:focus {
    border-color: rgb(249, 171, 48) !important;
    box-shadow: 0 0 0 0.25rem rgb(249, 171, 48, 0.1) !important;
}

.submit-btn {
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    margin-top: 20px;
    background-color: rgb(249, 171, 48);
    border-color: rgb(249, 171, 48);
}

.submit-btn:hover {
    background-color: #00102A;
}

.contact-info {
    padding: 55px 40px;
    height: 100%;
    border-radius: 0 4px 4px 0;
}

.single-info {
    background-color: #FFF;
    padding: 18px;
    margin-bottom: 20px;
    border-radius: 4px;
}

.single-info i {
    width: 40px;
    height: 40px;
    background-color: rgba(249, 171, 48, 0.1);
    color: #333;
    border-radius: 50%;
    float: left;
    margin-right: 15px;
    line-height: 40px;

}

.sigle-info p {
    font-weight: 500;
}

/* footer */

.footer {
    padding: 70px 0 40px;
    background-color: #00102A;
    color: #fff;
}

.footer-top {
    margin-bottom: 30px;
    border-bottom: 1px solid rgba(249, 171, 48, 0.3);
    padding-top: 30px;
    padding-bottom: 30px;
}

.footer ul {
    list-style-type: none;
}

ul, li {
    margin: 0 0 10px 0;
    padding: 0;
}

.footer a {
    color: #fff;
    text-decoration: none;
    transition: .5s;
}

a:hover {
    color: rgb(249, 171, 48);
}

.sub-btn { 
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    background-color: rgb(249, 171, 48);
    border-color: rgb(249, 171, 48);
}

.submit-btn:hover {
    background-color: #00102A;
}


.top-control {
    position: fixed;
    font-size: 20px;
    color: #fff;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
    background-color: rgb(249, 171, 48);
    height: 45px;
    width: 45px;
    line-height: 45px;
    border-radius: 50%;
    transition: all .2s ease 0s;
}

.top-control i {
    margin-left: 12px;
}
.top-control:hover {
    background-color: #00102A;
}