/* utils */
.primary-color {
    color: rgb(249, 171, 48) !important;
}

/* navbar */
.navbar-brand:hover {
    color: #6e7434;
}


/* home carousel */
.carousel-item img {
    width: 100%;
    height: 60vh;
    object-fit: cover;
}


/* choose us section */
.features i {
    font-size: 42px;
    color: rgb(249, 171, 48);
}

.features img {
    height: 320px;
    object-fit: cover;
}

/* destinations */

.section-title button {
    background-color: rgba(249, 171, 48, 0.1) !important;
}

.single-deal {
    border: 1px solid #ebe6de;
    border-radius: 6px;
}

.tr-price {
    font-size: 15px;
    font-weight: 600;
    float: right;
    position: relative;
    top: -90px;
    right: -17px;
    color: #fff;
    background-color: rgb(249, 171, 48);
}

.tr-price::before {
    content: '';
    left: -19px;
    top: 0px;
    position: absolute;
    border-top: 19px solid transparent;
    border-right: 19px solid rgb(249, 171, 48);
    border-bottom: 21px solid transparent;
}

/* services */
.services {
    background-color: #F4F9FF;
}

.services i {
    font-size: 42px;
    color: #6e7434;
}

.service {
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 5px;
}

.service i {
    font-size: 42px;
    color: rgb(249, 171, 48);
}


.tour-rating .rating_count {
    float: right;
    color: #727272;
}

/* gallery */
.single-gallery img {
    /* for animation  */
}
.single-gallery h5 {

    font-weight: 600;
    float: inherit;
    position: relative;
    top: -50px;
    color: #fff;
}


/* packages */
.tour-text {
    position: relative;
    bottom: 100px;
    color: #fff;
    background-color: rgba(249, 171, 48, 0.1);
}

.pack-price {
    font-weight: 900;
}